a[routerLink] {
  text-decoration: none !important;
}

a[routerLink]:hover {
  text-decoration: none !important;
}

.router-link-active {
  text-decoration: none !important;
}

.logo-grande {
  height: 50px;
  width: 140px;
  object-fit: contain;
}