<div class="container mx-auto p-2">
  <div class="flex justify-between items-center mb-6">
    <h1 class="text-3xl font-bold bg-gradient-to-r from-purple-600 to-indigo-600 bg-clip-text text-transparent">
      Gestión de Usuarios
    </h1>

    <button *ngIf="vistaActual === 'lista'" (click)="mostrarCrear()"
      class="bg-gradient-to-r from-purple-600 to-indigo-600 text-white px-8 py-3 rounded-xl shadow-lg hover:from-purple-700 hover:to-indigo-700 transition-all duration-300 transform hover:scale-105 font-semibold inline-flex items-center space-x-2">
      <i class="fas fa-plus-circle"></i>
      <span>Crear Usuario</span>
    </button>

    <button *ngIf="vistaActual !== 'lista'" (click)="mostrarLista()"
      class="bg-white text-purple-600 border border-purple-600 px-6 py-3 rounded-xl hover:bg-purple-50 transition-all duration-300 transform hover:scale-105 font-semibold flex items-center space-x-2 group mt-4 sm:mt-0">
      <i class="fas fa-arrow-left group-hover:-translate-x-1 transition-transform duration-300"></i>
      <span>Volver a la lista</span>
    </button>

  </div>

  <div *ngIf="mensajeError" class="mb-4 p-4 bg-red-100 border border-red-400 text-red-700 rounded">
    {{ mensajeError }}
  </div>

  <app-lista-usuarios *ngIf="vistaActual === 'lista'" [usuarios]="usuarios" [cargando]="cargando"
    (editar)="mostrarEditar($event)" (ver)="mostrarDetalle($event)"
    (eliminar)="eliminarUsuario($event)"></app-lista-usuarios>

  <app-crear-usuario *ngIf="vistaActual === 'crear'" (creado)="onUsuarioCreado($event)"
    (cancelar)="onCancelar()"></app-crear-usuario>

  <app-editar-usuario *ngIf="vistaActual === 'editar' && usuarioSeleccionado" [usuario]="usuarioSeleccionado"
    (actualizado)="onUsuarioActualizado($event)" (cancelar)="onCancelar()"></app-editar-usuario>

  <app-detalle-usuario *ngIf="vistaActual === 'detalle' && usuarioSeleccionado" [usuario]="usuarioSeleccionado"
    (editar)="mostrarEditar(usuarioSeleccionado!)"></app-detalle-usuario>
</div>