.custom-datepicker::-webkit-calendar-picker-indicator {
  background: transparent;
  bottom: 0;
  color: transparent;
  cursor: pointer;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
}

.custom-datepicker::-webkit-datetime-edit {
  color: #374151;
}

.custom-datepicker::-webkit-datetime-edit-fields-wrapper {
  background: transparent;
}

.custom-datepicker::-webkit-datetime-edit-text {
  color: #6B7280;
  padding: 0 0.2em;
}

.custom-datepicker::-webkit-datetime-edit-month-field,
.custom-datepicker::-webkit-datetime-edit-day-field,
.custom-datepicker::-webkit-datetime-edit-year-field {
  color: #374151;
}

.custom-datepicker::-webkit-inner-spin-button {
  display: none;
}

.custom-datepicker::-webkit-clear-button {
  display: none;
}